<div id="menubox">
  <div class="logo">
    <%#= image_tag "sidebar/logo_#{I18n.locale}.png", alt:'sun moles', id:'logo' %>
    <%= image_tag "sidebar/logo.png", alt:'sun moles', id:'logo' %>
  </div>
  <ul id="menu">
    <li> <a class="idea-<%= I18n.locale %>" href="#idea"> </a> </li>
    <li> <a class="beauty-<%= I18n.locale %>" href="#beauty"> </a> </li>
    <li> <a class="product-<%= I18n.locale %>" href="#product"> </a>
  			<ul>
  				<li><a href="#product01">01.<span><%= t("production_1") %></span></a></li>
  				<li><a href="#product02">02.<span><%= t("production_2") %></span></a></li>
  				<li><a href="#product03">03.<span><%= t("production_3") %></span></a></li>
  				<li><a href="#product04">04.<span><%= t("production_4") %></span></a></li>
  				<li><a href="#product05">05.<span><%= t("production_5") %></span></a></li>
  			</ul>
  	</li>
    <!-- <li><a class='about' href="#about"></a></li> -->
    <li><a class="history-<%= I18n.locale %>" href="#history"></a></li>
    <li><a class="join-us-<%= I18n.locale %>" href="#join-us"></a></li>
    <li><a class="access-<%= I18n.locale %>" href="#access"></a></li>
  </ul>
  <div class="logo-footer">
    <%= image_tag "/images/sidebar/logo_footer_#{I18n.locale}.png" %>
    <%#= image_tag "/images/sidebar/logo_footer_zh.png" %>
  </div>
</div>


<script>
  $("#menubox").hover(
  function(){
    $('#menubox').stop().animate({left:0}, 300);
  },
  function(){
    $("#menubox").stop().animate({left:-135}, 300);
  })

  var selector = '#menu li';

  $(selector).on('click', function(){
      $(selector).removeClass('active');
      $(this).addClass('active');
  });

</script>
