<!-- 跳转 local scroll js -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script> -->
<script type="text/javascript">
</script>
<div class="sidebar-wrapper">
  <%= render 'sidebar' %>
</div>

<div id="wrapper">
  <div class="mainbox"> <%= render 'units/unit1_idx' %> </div>
  <div class="mainbox" id="unit1"> <%= render 'units/unit1' %> </div>
  <div class="mainbox" id="beauty"> <%= render 'units/unit2_idx' %> </div>
  <div class="mainbox production" id="unit2"> <%= render 'units/unit2' %> </div>
  <div class="mainbox production" id="unit3"> <%= render 'units/unit3' %> </div>
  <div class="mainbox production" id="unit4"> <%= render 'units/unit4' %> </div>
  <div class="mainbox production" id="unit5"> <%= render 'units/unit5' %> </div>
  <div class="mainbox production" id="unit6"> <%= render 'units/unit6' %> </div>
  <div class="mainbox"> <%= render 'units/sb-container' %> </div>
</div>

<!-- <script type="text/javascript">
$(document).ready(function () {
    $('#Carousel1').carousel({
        interval: 3000
    });

    $('.carousel').carousel('cycle');
});
</script> -->
