<%= render 'sidebar' %>

<div id="wrapper">
    <%= render 'landing_page_1' %>
    <%= render 'landing_page_2' %>
  <%= render 'landing_page_1' %>
  <%= render 'landing_page_2' %>
  <%= render 'landing_page_1' %>
  <%= render 'landing_page_2' %>
</div>
