<script type="text/javascript">
</script>
<div class="sidebar-wrapper">
  <%= render 'sidebar' %>
</div>

<div id="wrapper">
  <div class="mainbox" id="idea"> <%= render 'units/unit1_idx' %> </div>
  <div class="mainbox" id="product"> <%= render 'units/unit1' %> </div>
  <div class="mainbox" id="beauty"> <%= render 'units/unit2_idx' %> </div>
  <div class="mainbox production" id="product01"> <%= render 'units/unit2' %> </div>
  <div class="mainbox production" id="product02"> <%= render 'units/unit3' %> </div>
  <div class="mainbox" id="beauty"> <%= render 'videos/v_unit1' %> </div>
  <div class="mainbox production" id="product03"> <%= render 'units/unit4' %> </div>
  <div class="mainbox" id=""> <%= render 'videos/v_unit2' %> </div>
  <div class="mainbox production" id="product04"> <%= render 'units/unit5' %> </div>
  <div class="mainbox" id=""> <%= render 'videos/v_unit3' %> </div>
  <div class="mainbox production" id="product05"> <%= render 'units/unit6' %> </div>
  <div class="mainbox" id="history"> <%= render 'units/unit8_idx' %> </div>
  <div class="mainbox" id=""> <%= render 'units/unit10_idx' %> </div>
  <div class="mainbox" id="join-us"> <%= render 'units/unit9_idx' %> </div>
  <div class="mainbox" id="access"> <%= render 'units/unit11_idx' %> </div>
  <div class="mainbox"> <%= render 'units/sb-container' %> </div>
  <div class="mainbox footer"> <%= render 'units/footer' %> </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $.localScroll({hash : true});

    // $.localScroll({
    //   // target: '#content', // could be a selector or a jQuery object too.
    //   queue:true,
    //   duration:1000,
    //   hash:true,
    //   onBefore:function( e, anchor, $target ){
    //     // The 'this' is the settings object, can be modified
    //   },
    //   onAfter:function( anchor, settings ){
    //     // The 'this' contains the scrolled element (#content)
    //   }
    // });
  });
</script>
<!-- <script type="text/javascript">
$(document).ready(function () {
    $('#Carousel1').carousel({
        interval: 3000
    });

    $('.carousel').carousel('cycle');
});
</script> -->
