<div class="">
  <%#= image_tag "images/unit1/area01_txt_bg#{I18n.locale}.png", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
  <%= image_tag "http://oqkojfley.bkt.clouddn.com/images/example/example_#{I18n.locale}.jpg", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
</div>


<h1><%= t("main_ingredient") %></h1>
<h1><%= t("function") %></h1>

<%= t("main_ingredient_unit2") %>
<%= t("function_unit2") %>
