<div class="">
  <%#= image_tag "images/unit1/area01_txt_bg#{I18n.locale}.png", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
  <%= image_tag "http://fqiniu.sunmoles.com/images/example/example_#{I18n.locale}.jpg", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
</div>




<h1>20181210<%= t("main_ingredient") %></h1>
<h1><%= t("function") %></h1>
<%= image_tag "http://fqiniu.sunmoles.com/images/footer/wechat-cn.png" %>
<%= t("main_ingredient_unit2") %>
<%= t("function_unit2") %>


_#{I18n.locale}

http://oy3jcebj2.bkt.clouddn.com/wedding_<%= I18n.locale %>.mp4
<script src="//vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>
<link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>


<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  poster="http://otnhgouka.bkt.clouddn.com/uploads/post/picture/1/1200x920.png"
  data-setup='{"example_option":true}'>
 <source src="http://oy3jcebj2.bkt.clouddn.com/3elegant_<%= I18n.locale %>.mp4" type="video/mp4" />
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
