<!-- <div class="idx unit11_idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit11_idx/area11_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit11_idx/area11_idx_h.png" alt="">
		</div>
</div> -->
<!-- end of access -->


<div class="idx unit11_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit11_idx/area11_01.jpg" alt=""></div>
	    </div>
			<div class="box">
				<div class="">
					<img src="/images/unit11_idx/area11_idx_h.png" alt="">
				</div>
				<div class="contxt">
					<%= t('area11_contxthd_1') %> <br>
					<%= t('area11_contxthd_2') %> <br>
					<%= t('area11_contxthd_3') %> <br>
					<%= t('area11_contxthd_4') %> <br>
					<%= t('area11_contxthd_5') %> <br>
					<!-- 在华责任单位：偲娅（浙江）化妆品有限公司 <br>
					地址：浙江省宁波市鄞州区南部商务区华越国际大厦3楼 <br>
					电话：4000128778 <br>
					手机：+86-13777121250   +86-13646675000  <br>
					邮箱： sunmoles@163.com -->
				</div>
			</div>
</div>
