<div class="unit3">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit3/area03_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit3/area03_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel2" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#Carousel2" data-slide-to="0" class="active"><span></span></li>
					<li data-target="#Carousel2" data-slide-to="1"><span></span></li>
					<li data-target="#Carousel2" data-slide-to="2"><span></span></li>
				</ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit3/area03_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit3/area03_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit3/area03_pt_03.png" alt="">
          </div>
        </div>
      </div>
			<!-- easyslider 在此長出 numeric -->
			<div class="tag">
				<img src="/images/unit3/area03_tag.png" alt="">
			</div>
		</div>
		<!-- 竹炭净透面膜 -->
		<div class="contxt">
				<div class="contxthd text-center">
						<h1><%= t("area03_contxthd") %></h1>
				</div>
				<div class="contxtbd">
						<div class="left"><%= t('area03_contxtbd_left') %></div>
						<div class="right">
							<%= t("area03_contxtbd_right0") %>:<br> <%= t("area03_contxtbd_right1") %>
							<!-- <br><br> 适应人群：<br> 适合各种肌肤，孕妇及敏感性肌肤均可使用。  -->
						</div>
				</div>
				<div class="contxtft">
						<%= t('area03_contxtft0') %>: <br>
						<%= t('area03_contxtft_p1') %>
				</div>
		</div>

		<!-- <div class="contxt" style="color: #fff;">
				<div class="contxthd text-center" style="">
						<h1>清洁毛孔，镇静消炎，保湿舒缓，提亮肤色。 </h1>
				</div>
				<div class="contxtbd">
						<div class="left">选用行业公认最理想的净化、清洁成分-竹炭，并富含芦荟原液，深层净化肌肤同时镇静消炎，保湿舒缓。同时萃取海藻、甘草、生姜、山茶等天然精华，排出肌肤毒素，提亮肤色。 </div>
						<div class="right">
							主要成分：<br> 竹炭、芦荟原液、海藻、甘草、生姜、山茶等天然精华。
							<br><br> 适应人群：<br> 适合需要净透补水的各类肌肤，孕妇及敏感性肌肤均可使用。  删除
						</div>
				</div>
				<div class="contxtft">
						功效及成分: <br>
						竹炭，深入肌底激发细胞活力。富含海藻提取物，帮助肌肤排除废弃物。芦荟叶汁成分改善肌肤油脂分泌，保持肌肤干净清爽。泛醇具有保湿镇定功效，改善肌肤痛痒问题。生姜，含有多种活性成分，刺激皮肤增强血液循环。富含的甘草，帮助肌肤美白提亮，并具有防晒功效。
（本品因含有生姜成分，故使用时部分人群会感觉到刺痛，为生姜发挥正常功效的表现。）
				</div>
		</div> -->
</div>
