<div class="unit3">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="http://oy3jcebj2.bkt.clouddn.com/images/unit3/area03_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;">
					<%= image_tag "/images/unit3/area03_txt_bg_#{I18n.locale}.png" %>
				</div>
		</div>

		<div class="ptslide">
      <div id="Carousel2" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#Carousel2" data-slide-to="0" class="active"><span></span></li>
					<li data-target="#Carousel2" data-slide-to="1"><span></span></li>
					<li data-target="#Carousel2" data-slide-to="2"><span></span></li>
				</ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit3/area03_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit3/area03_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit3/area03_pt_03.png" alt="">
          </div>
        </div>
      </div>
			<!-- easyslider 在此長出 numeric -->
		</div>
		<!-- 竹炭净透面膜 -->
		<div class="contxt" style="color: #eee;">
		    <div class="contxthd">
					<div class="left">
						<h1><%= t("main_ingredient") %></h1>
					</div>
					<div class="right">
						<h1><%= t("function") %></h1>
					</div>
		    </div>
		    <div class="contxtbd">
		        <div class="left">
							<%= t("main_ingredient_unit3") %>
							<!-- 竹炭、芦荟原液、海藻、甘草、生姜、山茶等天然精华。 -->
							<!-- 대나무 숯 알로에원액 해조 감초 생강 동백나무등 천연정화 -->
							<!-- Natural essence of bamboo charcoal, aloe vera solution, seaweed, licorice, ginger, camellia. -->
						</div>
		        <div class="right">
							<%= t("function_unit3") %>
							<!-- 多种天然净化成分深入作用于肌底，清除废弃物，增强皮肤血液循环，促进代谢，美白肌肤的同时具有防晒功效。 -->
							<!-- 다양한 천연정화성분은 피부의 심층의 노페물을 제거하고 피부의 혈액순환과 신진대사를 촉진하고 미백하는 동시에 자외선 차단도 한다. -->
							<!-- A variety of natural purification components act in the depth of the skin, remove the waste, enhance skin blood circulation, promote metabolism, whitening skin, and with sunscreen function.  -->
						</div>
		    </div>
		</div>
</div>
