<div class="unit2">
	   <div class="parallex">
	    	<div class="mainbg"><img src="http://fqiniu.sunmoles.com/images/unit2/area02_02.png" alt=""></div>
	    	<div class="ptbg" style="top: 4px;">
					<%= image_tag "/images/unit2/area02_txt_bg_#{I18n.locale}.png" %>
				</div>
		</div>

		<div class="ptslide">
      <div id="Carousel1" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel1" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel1" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel1" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://fqiniu.sunmoles.com/images/unit2/area02_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="http://fqiniu.sunmoles.com/images/unit2/area02_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="http://fqiniu.sunmoles.com/images/unit2/area02_pt_03.png" alt="">
          </div>
        </div>
			</div>
		</div>
		<!-- Wrapper for slides -->
		<!-- 玻尿酸补水沁润面膜 -->
		<div class="contxt">
		    <div class="contxthd">
					<div class="left">
						<h1> <%= t("main_ingredient") %> </h1>
						<!-- 成分 -->
						<!-- 주요성분 -->
						<!-- Main Ingredient -->
					</div>
					<div class="right">
						<h1><%= t("function") %> </h1>
						<!-- 功效 -->
						<!-- 성분및효능 -->
						<!-- Function -->
					</div>
		    </div>
		    <div class="contxtbd">
		        <div class="left">
							<%= t("main_ingredient_unit2") %>
							<!-- 高浓度玻尿酸精华，水解胶原蛋白精华，甘草根提取物，藻类提取物。 -->
							<!-- 고농도의 히알라루론산 수해콜라겐 감초근의 추출물 조류추출물 -->
							<!-- High concentrations of hyaluronic acid extract, hydrolyzed collagen essence, licorice root extract, algae extract. -->
						</div>
		        <div class="right">
							<%= t("function_unit2") %>
							<!-- 高浓度面膜精华液，长效锁水，改善油脂分泌，重现肌肤水润光泽。 -->
							<!-- 고농도의 마스크팩 정화액은 장시간 효과적으로 수분을 잡아주고 유지분비를 개선해주며 피부를 탱탱하게한다. -->
							<!-- High concentration of mask essence, long-term lock water, improve oil secretion, to reproduce the skin moist and shiny. -->
						</div>
		    </div>
		</div>
</div>
