<div class="unit1">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: 45px;"><img src="/images/unit1/area01_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 50px;"><img src="/images/unit1/area01_txt_bg.png" alt=""></div>
	    </div>
		<div class="ptslide">
			<div class="" style="height:394px;" >
				<img src="/images/unit1/area01_pt_01.png" alt="">
			</div>
			<div class="bg">
			<div class="bgbox">
			<!-- background url(iamges/unit1/area01_pt_bg.png) -->
			    <div class="fresh"><img src="/images/unit1/area01_fresh.png" alt="" width="125" height="126"></div>
					<ol>
			        <li>
				        <a rel="shadowbox" href="images/unit1/area01_pt_02b.png">
					        <img src="/images/unit1/area01_pt_02.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_03b.png">
				        	<img src="/images/unit1/area01_pt_03.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_04b.png">
				        	<img src="/images/unit1/area01_pt_04.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_05b.png">
				        	<img src="/images/unit1/area01_pt_05.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li class="last">
			        	<a rel="shadowbox" href="images/unit1/area01_pt_06b.png">
				        	<img src="/images/unit1/area01_pt_06.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			    </ol>
		    </div>
		</div>
	</div>
		<div class="contxt">
		    <div class="contxtft">
		        <div class="left">
			        <h1> <%= t("area01_left_h") %></h1>
							<p>  <%= t("area01_left_p1") %></p>
							<p>  <%= t("area01_left_p2") %></p>
							<p>  <%= t("area01_left_p3") %></p>
							<p>  <%= t("area01_left_p4") %></p>
						</div>
		        <div class="right">
							<h1><%= t('area01_right_h') %></h1>
							<p><%= t('area01_right_p1') %></p>
							<p><%= t('area01_right_p2') %></p>
							<p><%= t('area01_right_p3') %></p>
							<p><%= t('area01_right_p4') %></p>
		        </div>
		    </div>
		</div>
</div>
