<div class="unit6">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="http://oy3jcebj2.bkt.clouddn.com/images/unit6/area06_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;">
					<%= image_tag "/images/unit6/area06_txt_bg_#{I18n.locale}.png" %>
				</div>
		</div>

		<div class="ptslide">
      <div id="Carousel5" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit6/area06_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit6/area06_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="http://oy3jcebj2.bkt.clouddn.com/images/unit6/area06_pt_03.png" alt="">
          </div>
        </div>
      </div>
    </div>

		<!-- 舒缓润泽 -->
		<div class="contxt">
				<div class="contxthd">
					<div class="left">
						<h1><%= t("main_ingredient") %></h1>
					</div>
					<div class="right">
						<h1><%= t("function") %></h1>
					</div>
				</div>
				<div class="contxtbd">
						<div class="left">
							<%= t("main_ingredient_unit6") %>
							<!-- 谷胱甘肽、芦荟精华、植物杀菌。 -->
							<!-- 글루타티온 알로에정화 식물살균(phytocide) -->
							<!-- Glutathione, aloe vera essence, plant sterilization. -->
						</div>
						<div class="right">
							<%= t("function_unit6") %>
							<!-- 具有镇定保湿效果，并增强肌肤免疫力功效，帮助肌肤杀菌修护。多重作用镇定敏感肌肤，实现舒缓润泽功效。 -->
							<!-- 피부를 진정시키고 보습한는 효과가 있고 피부의 면역력을 강화한다. 다중적으로 민감한 피부를 진정시킨다. -->
							<!-- With calm and moisturizing effects, enhance skin immunity, help skin sterilization repair. Multiple effects calm the sensitive skin, to achieve soothing moisturizing effect. -->
						</div>
				</div>
		</div>
	</div>


</div>
