<div class="idx unit11_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit11_idx/area11_01.jpg" alt=""></div>
	    </div>
			<div class="box">
				<div class="boxhd">
					<img src="/images/unit11_idx/area11_idx_h1.png" alt="">
					<%= image_tag "/images/unit11_idx/area11_idx_h2_#{I18n.locale}.png"%>
				</div>
				<div class="contxt">
					<%= t('area11_contxthd_1') %> <br>
					<%= t('area11_contxthd_2') %> <br>
					<%= t('area11_contxthd_3') %> <br>
					<%= t('area11_contxthd_5') %> <br>
				</div>
			</div>
</div>
