<!DOCTYPE html>
<html>
  <head>
    <title>Sunmoles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
    Shadowbox.init();
    </script>
    <script type="text/javascript">
      // $("#slider").easySlider();
    </script>
  </head>

  <body>
    <%= yield %>
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </body>

</html>
