<!DOCTYPE html>
<html>
  <head>
    <title>Sunmoles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="oldweb">
    <%= render 'oldheader' %>
    <%= yield %>
    <%= render 'units/footer' %>
  </body>

</html>
